@model Starship

@{
    ViewData["Title"] = "Star Wars";
}

<div class="text-center">
    <h1>Starship Details</h1>

    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Model:</strong> @Model.Model</p>
    <p><strong>Manufacturer:</strong> @Model.Manufacturer</p>
    <p><strong>Cost in Credits:</strong> @Model.Cost_in_credits</p>
    <p><strong>Crew:</strong> @Model.Crew</p>
    <p><strong>Passengers:</strong> @Model.Passengers</p>
    <p><strong>Starship Class:</strong> @Model.Starship_class</p>
    
</div>

<div>
    <form action="/Home/SubmitForm" method="post" enctype="multipart/form-data">
        <select name="selectedOption" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

        <br />

        <input type="file" name="uploadedFile" />

        <br /><br />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
