@model StarshipViewModel

@{
    ViewData["Title"] = "Star Wars";
}

<div class="text-center">
    <h1>Random Starship Details</h1>

    @if (!string.IsNullOrEmpty(Model.StarshipImagePath))
    {
        <img src="@Model.StarshipImagePath" alt="Starship Image" style="width: 300px; height: auto;" />
    }

    <p><strong>Name:</strong> @Model.RandomStarship.Name</p>
    <p><strong>Model:</strong> @Model.RandomStarship.Model</p>
    <p><strong>Manufacturer:</strong> @Model.RandomStarship.Manufacturer</p>
    <p><strong>Cost in Credits:</strong> @Model.RandomStarship.CostInCredits</p>
    <p><strong>Crew:</strong> @Model.RandomStarship.Crew</p>
    <p><strong>Passengers:</strong> @Model.RandomStarship.Passengers</p>
    <p><strong>Starship Class:</strong> @Model.RandomStarship.StarshipClass</p>
</div>

<hr />

<div>
    <form action="/Home/SubmitForm" method="post" enctype="multipart/form-data">
        <select name="selectedOption" class="form-control">
            @foreach (var starship in Model.StarshipList)
            {
                <option value="@starship.StarShipId">@starship.Name</option>
            }
        </select>

        <br />

        <input type="file" name="uploadedFile" />

        <br /><br />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
