@model List<StarshipImage>

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}

<h2 class="page-title">Starship Showroom</h2>

@{
    var random = new Random();
    var randomStarshipImage = Model[random.Next(Model.Count)];
}
<div class="random-image-container">
    <img src="@randomStarshipImage.Image" alt="@randomStarshipImage.Name" class="random-starship-image" />
</div>

<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var starship in Model)
            {
                <tr>
                    <td>@starship.Name</td>
                    <td><img src="@starship.Image" alt="@starship.Name" class="starship-image" /></td>
                    <td>
                        <a href="/Home/Edit/@starship.Id" class="btn-glow btn-edit">Edit</a>
                        <a href="/Home/Delete/@starship.Id" class="btn-glow btn-delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a href="/Home/Create" class="btn-glow btn-primary add-starship">Add New Starship</a>
